body {
    width: 100%;
    font-family: 'Roboto';
}

/* Header Start  */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#header1 {
    display: flex;
    align-items: center;
    margin: 0px 100px 0px 100px;
    justify-content: space-between;
    /* border: 2px solid; */

}

#button {
    font-weight: bold;
    text-align: center;
    height: 30px;
    width: 110px;
    color: white;
    border-radius: 6px;
    border-color: aliceblue;
    background-color: rgb(238, 136, 99);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    overflow: auto;
    clear: both;
    display: flex;
    justify-content: space-between;

}

#navbar1 {
    float: left;
    display: flex;
    padding-left: 0px;
}

#navbar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    overflow: hidden;
    float: right;

}

#navbar1 li,
#navbar li,
#navbar2 li,
.category-list li {
    position: relative;
    list-style: none;
    padding: 0px 20px;
}

#navbar1 li a,
#navbar li a,
#navbar2 li a,
.category-list li a {
    text-decoration: none;
    font-weight: 600;
    color: #11142D;
    display: block;
    transition: 0.3s ease;
}

.logo {
    position: absolute;
    width: 144px;
    height: 124px;
    left: 72px;
    top: -15px;

}

.logo-txt {

    font-size: 25px;
    display: flex;
    margin-left: 130px;
    font-weight: bolder;
    color: rgb(235, 144, 59);
}

#navbar1 li a:hover,
#navbar li a:hover,
#navbar2 li a:hover,
.category-list li a:hover,
#navbar1 li a.active,
.category-list li a.active {
    color: rgb(235, 144, 59);
}

#navbar1 li a.active::after,
#navbar li a.active::after,
#navbar2 li a.active::after,
#navbar1 li a:hover::after,
#navbar li a:hover::after,
#navbar2 li a:hover::after,
.category-list li a:hover::after,
.category-list li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(235, 144, 59);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#search-bth {
    height: 28px;
    background: #FFFFFF;
    border-radius: 4px;
}

#search-text {
    padding: 0px 50px 0 100px;
    margin-left: 20px;
    height: 25px;
    background: #FFFFFF;
    border-radius: 4px;
}


/* PROMO */
/* nút qua lại promo */
.button-left {
    left: 1%;
    font-size: 20px
}

.button-right {
    right: 1%;
    font-size: 20px
}

.image-button {
    border: none;
    display: inline-block;
    padding: 10px;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;
    color: #fff;
    background: #000;
    position: absolute;
    top: calc(50% - 25px);
    opacity: 0.5;
}

.image-button:hover {
    color: #000;
    background: #ccc;
}

/*---Css Chấm tròn---*/
.badge {
    flex: auto;
    text-align: center;
    margin-bottom: 16px;
    font-size: 20px;
    position: absolute;

}

.badge-white {
    color: #000 !important;
    background-color: rgb(235, 144, 59) !important
}

.image-badge {
    display: inline-block;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    border: 1px solid #ccc;
}

.image-badge:hover {
    background: rgb(235, 144, 59);
}

#promo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px 0px 100px;

}

.imgpromo {
    width: 1150px;
    border-radius: 30px;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* test */
.grid__column-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
}



/*App Container */
.app__container {
    display: flex;
}

.category {
    background-color: #78c9e4;
    margin: 50px 100px 0px 100px;
    justify-content: space-between;
    width: 1150px;
    border-radius: 30px;

}

.category-detail {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: bold;
    font-size: 48px;
    /* line-height: 58px;
    line-height: 120%; */
    /* align-items: left; */
    /* vertical-align: top;
    letter-spacing: 0.5%; */
}

.category-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: -20px;
}

.category-list li {
    padding: 0 40px 0 30px;
}

.grid{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 10px 0px 10px 0px;
    
}

.grid__row{
    background-color: brown;
    margin: 0 0 0 20px;
}

.home-product{
    background-color: #fff;
    
}
.grid__column-3{
    background-color: #abd647;
}
.home-product-item{
    background-color: chartreuse;
}
.home-product-item__img{
    background-color: #8890dd;
}